:root {
    --orange: rgb(246, 145, 15);
    --blue: rgb(9, 184, 234);
    --black: rgb(51, 51, 51);
    --gray: rgb(100, 100, 100);
    --light-gray: rgb(237, 237, 237);
    --white: rgb(255, 255, 255);
}

body {
    font-family: "Rubik", sans-serif;
    padding: 2%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: var(--blue);
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;

    #site {
        display: flex;
        align-items: baseline;

        img {
            width: 50px;
            height: 50px;
            border-radius: 15px;
            margin-right: 15px;
        }

        a {
            color: var(--black);
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        h1 {
            font-size: 1rem;
            font-family: 'Space Mono', monospace;
            margin: 0 15px 0 0;

        }

        p {
            color: var(--gray);
            font-size: .75rem;
            margin: 5px 0 0 0;
        }
    }

    nav {
        
        a {
            color: var(--blue);
            font-family: 'Space Mono', monospace;
        }
    }
}

@media only screen and (max-width: 950px) {
    #site p {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    #site h1 {
        display: none;
    }
}

/* index */
#landing {
    display: flex;
    align-items: center;
    background-image: url(/cover.png);
    background-position: center;
    background-color: var(--black);
    background-blend-mode: overlay;
    padding: 2%;
    text-shadow: 2px 2px 5px rgba(51,51,51,.75);
    border-radius: 15px;

    h2 {
        color: var(--orange);
        font-family: 'Space Mono', monospace;
        text-transform: uppercase;
        line-height: 1;
        font-size: 2rem;
        margin-bottom: 0;
    }
    
    p {
        color: var(--white);
        font-size: 1.3rem;
    }

    img {
        width: 250px;
        height: fit-content;
        border-radius: 15px;
        margin-right: 2%;
    }

    @media only screen and (max-width: 950px) {
        img {
            width: 150px;
        }
    }

    @media only screen and (max-width: 600px) {
        img {
            display: none;
        }
    }

    a {
        text-decoration: none;
    }

    button {
        background-color: transparent;
        display: block;
        margin: 0 auto;
        border: 1px solid var(--white);
        border-radius: 15px;
        padding: 2%;
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Space Mono', monospace;
        font-weight: bold;
        font-size: 1.5rem;
    }

    button:hover {
        cursor: pointer;
        color: var(--blue);
        border-color: var(--orange);
        backdrop-filter: blur(5px);
        transition: all .2s ease-in-out;
    }
}

h2.episodes {
    font-family: 'Space Mono', monospace;
    color: var(--orange);
    font-size: 1.75rem;
    text-align: center;
}

#episodes {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        box-shadow: 0px 0px 5px 2px var(--light-gray);
        padding: 2%;
        margin-bottom: 25px;
        border-radius: 15px;
        display: flex;

        @media only screen and (max-width: 600px) {
            display: block;
        }

        .thumb {
            background-position: center;
            background-size: cover;
            margin-right: 15px;
            border-radius: 15px;
            height: 250px;
            width: 250px;
            flex-shrink: 0;
        }

        @media (min-width:600px) and (max-width:950px) {
            .thumb {
                width: 150px;
                height: 150px;
            }
        }

        @media only screen and (max-width: 600px) {
            .thumb {
                width: 100%;
                margin-bottom: 15px;
                height: 150px;
            }
        }

        .meta {
            color: var(--gray);
            font-size: .75rem;
            display: flex;
            align-items: center;
            font-family: 'Space Mono', monospace;
            text-transform: uppercase;

            svg {
                width: 15px;
                margin-right: 2.5px;
            }

            .date {
                margin-right: 10px;
            }
        }

        a.episodeTitle {
            text-decoration: none;
            color: var(--blue);
            font-family: 'Space Mono', monospace;
            font-size: 2rem;

            h3 {
                margin: 0 0 -15px 0;
            }
        }

        @media only screen and (max-width: 600px) {
            a.episodeTitle {
                font-size: 1.5rem;
            }
        }
    }
}

.all {
    text-align: center;

    a {
        font-size: 1.25rem;
        padding: 2%;
        border: 1px solid var(--blue);
        display: inline-block;
        border-radius: 15px;
        font-family: 'Space Mono', monospace;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: var(--orange);
        border-color: var(--orange);
    }
    
}

/* single */
#cover {
    height: 350px;
    background-position: center;
    background-color: var(--black);
    background-blend-mode: overlay;
    padding: 2%;
    text-shadow: 2px 2px 5px rgba(51,51,51,.75);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 2%;

    h2 {
        color: var(--orange);
        font-family: 'Space Mono', monospace;
        text-transform: uppercase;
        line-height: 1;
        font-size: 2.5rem;
        margin-bottom: .5%;
        margin-top: auto;
    }

    .info {
        color: var(--white);
        font-size: 1.5rem;
        font-family: 'Space Mono', monospace;
        text-transform: uppercase;

        .meta {
            display: flex;
            align-items: center;
        }

        svg {
            width: 20px;
            margin-right: 2.5px;
        }
        
        .date {
            margin-right: 30px;
        }
    }
}

#content {

}

.postNav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 600px) {
        align-items: stretch;
    }

    a {
        padding: 1%;
        border: 1px solid var(--light-gray);
        border-radius: 15px;
        width: 25%;
        text-decoration: none;

        @media only screen and (max-width: 600px) {
            width: 45%;
        }
    }

    a.link-reverse {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 0px; 
    }

    a.link-forward {
        display: grid;
        grid-template-columns: 10fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 0px;

        .label, .title {
            text-align: right;
        }
    }
    
    .arrow {
        text-align: center;
        font-size: 1.5rem;
    }

    .label {
        color: var(--gray);
        text-transform: uppercase;
        font-family: 'Space Mono', monospace;
        font-size: .75rem;
        display: block;
    }

    .title {
        display: block;
    }
}

/* list */
#list {
    #episodes {

        .plyr {
            display: none;
        }

        li {

            a.episodeTitle {
                font-size: 1.5rem;
            }

            .thumb {
                width: 150px;
                height: 150px;
            }

            @media (min-width:600px) and (max-width:950px) {
                .thumb {
                    width: 150px;
                    height: 150px;
                }
            }
    
            @media only screen and (max-width: 600px) {
                .thumb {
                    width: 100%;
                    margin-bottom: 15px;
                    height: 150px;
                }
            }
        }
    }
}

/* footer */
footer {
    background-color: var(--light-gray);
    padding: 2%;
    border-radius: 15px;
    margin-top: 2%;
    font-size: 90%;
    text-align: center;

    a {
        text-decoration: none;
    }

    svg {
        width: 30px;
    }

    .mastodon {
        margin-right: 20px;
        margin-left: 20px;
    }

    h2 {
        font-family: 'Space Mono', monospace;
    }
}

/* plyr.io */
.plyr {
    font-family: 'Rubik', sans-serif !important;
    border: 1px solid var(--light-gray) !important;
    border-radius: 15px !important;
}