<meta charset="utf-8">
<meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
{{ $title := print .Title " - " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>
<link rel="stylesheet" type="text/css" href="{{ absURL `css/style.css` }}">
<link rel="stylesheet" type="text/css" href="{{ absURL `css/fonts.css` }}">
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
 <script>
      document.addEventListener('DOMContentLoaded', () => {
          const player = Plyr.setup('.js-player');
      });
  </script>